[submodule "Controls"]
	path = Controls
	url = https://github.com/horsicq/Controls
[submodule "QHexView"]
	path = QHexView
	url = https://github.com/horsicq/QHexView
[submodule "FormatDialogs"]
	path = FormatDialogs
	url = https://github.com/horsicq/FormatDialogs
